<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TUS PELIS FAVORITAS</title>
    <link rel="stylesheet" href="../css/estiloPelis.css"
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

</head>
<body>
    <h1 class="title">TUS PELIS FAVORITAS</h1>
    <ul>

        <li><a href="../index.html"><i class="fa fa-arrow-left" style="color: #fff;"></i> Regresar</a></li>
        
    </ul>
    <div class="container">
        <div class="section">
            <p class="description">
                ¿Crees que siempre podemos confiar en aquellos que nos piden ayuda? Bob Lee Swagger, un ex francotirador, descubre que la lealtad tiene un precio muy alto.
                <br />
                <br />
                ¿Hasta dónde llegarías para demostrar tu inocencia? Acusado falsamente de un crimen, Swagger se ve envuelto en una conspiración mortal.
            </p>
        </div>
        <div class="section">
            <img src="../images/peli1.png" alt="Imagen de la película" class="image">
        </div>
        <div class="section">
            <iframe width="400" height="315" src="https://www.youtube.com/embed/dhK2TydQFOE?si=Z7vfIVrfCqT7KV6B" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
    </div>

    <br />
    <br />
    <div class="container">
        <div class="section">
            <p class="description">
                ¿Crees que se puede escapar de la muerte dos veces? Tyler Rake vuelve a desafiar a la fatalidad en una nueva misión casi imposible.
                <br />
                <br />
                El pasado regresa para cobrar una deuda. Tyler Rake se ve obligado a enfrentar su oscuro pasado cuando una nueva misión lo arrastra a un mundo de traición y venganza.
            </p>
        </div>
        <div class="section">
            <img src="../images/peli2.png" alt="Imagen de la película" class="image">
        </div>
        <div class="section">
            <iframe width="400" height="315" src="https://www.youtube.com/embed/3j_SErnxepk?si=LJir2yYpYj0k8nlE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
    </div>

    <br />
    <br />
    <div class="container">
        <div class="section">
            <p class="description">
                ¿Qué harías si te vieras obligado a romper una promesa sagrada? John Wick, el asesino más letal del mundo, se ve envuelto en una guerra sin cuartel al romper una regla fundamental del inframundo criminal.
                <br />
                <br />
                La lealtad tiene un precio muy alto. Un ex-asesino busca venganza tras la muerte de su perro, pero pronto se da cuenta de que ha desatado una fuerza imparable.
            </p>
        </div>
        <div class="section">
            <img src="../images/peli3.png" alt="Imagen de la película" class="image">
        </div>
        <div class="section">
            <iframe width="400" height="315" src="https://www.youtube.com/embed/gr-KEvuW6So?si=DiFidtlSt0Achfsg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
    </div>


</body>
</html>

